@model NhomZuiZeDoAn.Models.DongHo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDongHo.cshtml";
}


<div class="row_1">
    <div class="column-2">
        <nav class="category">
            <h3 class="category_heding">
                <i class="category_heding-icon fas fa-list"></i>
                Danh Mục
            </h3>
            <ul class="cattegory_list">
                <li class="cattegory_item cattegory_item--activa ">
                    <a href="#" class="cattegory_item_link">Sản phẩm phổ biến</a>
                </li>
                <li class="cattegory_item">
                    <a href="#" class="cattegory_item_link">Sản phẩm khuyến mãi</a>
                </li>
                <li class="cattegory_item">
                    <a href="#team" class="cattegory_item_link">Sản phẩm mới</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="column-4">
        <div class="home-filter">
            <h2>Chi Tiết Sản Phẩm</h2>
        </div>
        <div class="home-sanpham">
            <div class="grid__row">
                <div class="grid__column-2-4">
                    <div class="home-sanpham-item">
                        <h4>Tên: @Model.Ten</h4>
                        <div class="home-sanpham-item_img" style="background-image: url(@Model.Image); "></div>
                        <p>Hãng: @Model.Hangss.TenHang</p>
                        <p>Giá: @Model.Gia</p>
                        <p>Mẫu: @Model.GioiTinh</p>
                        <div class="home-sanpham-item_action">
                            <span class="home-sanpham-item_like">
                                <i class="far fa-heart"></i>
                            </span>
                            <div class="home-sanpham-item_ratting">
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <div class="home-sanpham-item_origin">
                            <span class="home-sanpham-item_origin_name">Xuất xứ: @Model.XuatXu</span>
                        </div>
                        <div class="buy_now_button"><a href="/DongHo/Index">Quay Lại</a></div>
                       
                    </div>        
                </div>
                
            </div>
        </div>
    </div>
</div>

